.ui-list-pure .sel{
    display:none;
}
.ui-list-pure > li {
    height: 50px;
    line-height: 50px;
}
.caozuo .wx_zf,.zfb_zf {
    float:none !important;
    text-align: left !important;
}
.wx{
    background: url(../../img/images/wx.png) no-repeat;
}
.zfb {
    background: url(../../img/images/zfb.png) no-repeat;
}
.wx,.zfb {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size:100% 100%;
    vertical-align: -8px;
}
.selected{
    background: url(../../img/images/selected.png) no-repeat;
}
.no_selected {
    background: url(../../img/images/no_selected.png) no-repeat;
}
.selected,.no_selected{
    float:right;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size:100% 100%;
    margin-top: 15px;
}
.ui-btn-danger {
    background-color: #f12f2f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f12f2f), to(#f12f2f));
    width:100%;
    height: 56px;
    line-height: 56px;
    border-radius: 0px;
}
#tab1,#tab2{
    display: none;
}
