@charset "utf-8";


html{height:100%;min-width:320px;}
body{min-height: 100%;position: relative;font-size:14px;color:#333; background-color:#fff}
a{color:#333;text-decoration: none;}a:hover,a:focus,.maincolor,.maincolor a{color:#06c;text-decoration: none;}
.bg-1{ background-color:#f5fafe}
h4{line-height:30px;}

/* 自定义样式*/
/* 首页*/
.container-box{border:1px solid #e8e8e8; }
.container-box p:nth-child(1) {font-size:14px;padding:10px 0 0 10px;}
.container-box p:nth-child(2){padding:15px 0;}
.container-box p:nth-child(2) span:first-child{font-size:18px;color:#ff6000;font-weight: bold;padding-left:10px;}
.container-box p:nth-child(2) span:last-child{font-size:10px;color:#898989;}
.container-box button{float:right;margin:-66px 26px 0 0;}
.container-box button a{color:#fff;}
.order-box{margin-top: 18px;width:102%;}
.order-box-list{border:1px solid #e8e8e8;height:130px;width:24%;float:left;margin-left:10px;}
.order-box-list:nth-child(1){margin-left:0;}
.order-box-list p:first-child {font-size: 14px;  color: #313131;  margin-top: 20px;}
.order-box-list p:first-child+p {font-size: 18px;  color: #ff6000;font-weight: bold;}
.order-box-list p:first-child+.b {color: #0085d0;}
.order-box-list p:last-child {font-size: 10px;  color: #898989;}
.order-box-list p {text-align: center;}
.record{margin-top:166px;height:119px;}
.record #d{margin-top:20px;width:100%;}
.record div select{float:left;width:10%;height:31px;margin-left:10px;}
.record div input{width:81%;margin-left:5px;}
.record button{margin-top:-32px;}
.box-bottom{margin-top: 18px;}
/*.time{width:80px;height:32px;float: right;top:-400px;right: 30px;position: relative;}
.yue,.ri{float:left;width:40px;height:32px;line-height:32px;text-align:center;cursor:pointer;}
.yue{background-color:#0085d0;color:#fff;border-radius:5px 0 0 5px;}
.ri{background-color:#e6e6e6;border-radius:0 5px 5px 0;}*/


/*余额充值*/
.surplus{width:100%;height:34px;line-height:34px;border-bottom:1px solid #edeeee;}
.surplus .surplus-money{color:#ff6000;font-weight:bold;font-size:18px;}
.recharge{width:602px;height:286px;margin: 24px;}
.input{width:98px;height:30px;}
.recharge .recharge-box{display:block;margin-bottom:23px;}
.recharge td:first-child{font-size:14px;}
.banks-tr td{float:left;width: 120px;  height: 30px;  line-height: 30px;  display: block;  border: 1px solid #DDDEDE;  margin: 0 -1px -1px 0;  position: relative;  cursor: pointer;}
.icon-radio{width: 16px;height: 16px;background: url("../../../images/element.png") no-repeat -48px -56px;line-height: 16px;display: inline-block;margin: 0 8px;vertical-align:-2px;}
.icon-gs,.icon-ny,.icon-zs,.icon-js,.icon-zg,.icon-yz,.icon-jt,.icon-gf,.icon-ms,.icon-pa,.icon-gd,.icon-xy,.icon-zx,.icon-bj,.icon-sh,.icon-pf{width:18px;height:18px;line-height: 16px;background: url("../../../images/bank_ico.png") no-repeat;display: inline-block;vertical-align:-3px;margin-right:3px;}
.icon-gs {background-position: 0 0;}
.icon-ny {background-position: -54px 0;}
.icon-zs {background-position: -18px 0;}
.icon-js {background-position: -36px 0;}
.icon-zg {background-position: -72px 0;}
.icon-yz {background-position: -18px -18px;}
.icon-jt {background-position: -36px -18px;}
.icon-gf {background-position: -72px -18px;}
.icon-ms {background-position: -90px -18px;}
.icon-pa {background-position: 0 -36px;}
.icon-gd {background-position: -90px 0;}
.icon-xy {background-position: 0 -18px;}
.icon-zx {background-position: -126px 0;}
.icon-bj {background-position: -126px -18px;}
.icon-sh {background-position: -72px -37px;}
.icon-pf {background-position: -54px -18px;}
.banks .banks-tr td:hover{border: 1px solid #A5C85B;margin: 0px -1px -1px 0px;background-color: #f4f8eb;z-index:3;}
.bp{background-position:-64px -56px;}
.b-s{border: 1px solid #A5C85B !important; margin: 0px -1px -1px 0px !important;background-color: #f4f8eb;z-index:3;}
.icon-check{width:16px;height:16px;line-height:16px;background:url("../../../images/element.png") no-repeat -112px -72px;position: absolute;top:14px;right:0px;display:none;}
.zw{position:absolute;margin:29px 0 0 -90px;}
.zw+tr{display: block;margin-top: 23px;}
.icon-zfb,.icon-wx{width:20px;height:20px;line-height:20px;background:url("../../../images/zf.png") no-repeat;display:inline-block;vertical-align:-4px;margin-right: 3px;}
.icon-zfb{background-position:0 0;}
.icon-wx{background-position:-22px 0;}
.recharge-box:nth-child(3){margin-left: -18px;}
.pay-btn{display:block;margin-left: 88px;}
.pay-btn button{color:#fff;}

/*做单*/
.account{margin-top: 30px;}
.account input{width:170px;}
.account-img{width:16px;height:16px;position: absolute;background: url("../../../images/element.png") no-repeat;margin-left: 5px;margin-top: 7px;display: none;}
.Wrong{background-position:0 -40px;display:inline-block;}
.yes{background-position:-33px -40px;display:inline-block;}
.integral{margin-top:30px;}
.integral span:nth-child(1){display:inline-block;vertical-align: 80px;}
.integral div{width:143px;height:100px;display:inline-block;border:1px solid #e2e3e5;padding:12px 12px 12px 12px;}
.integral div span:nth-child(1){ width:27px;height:29px;display:inline-block;background:url("../../../images/integral.png") no-repeat  -4px 0;vertical-align: -8px;}
.integral div #je{width:93px;border: none;border-bottom:2px solid #d3e7f1;font-size: 18px;color:#ff6000;font-weight: bold;}
.integral div .integral-money{border: none;display:inline-block;width:78px;height:18px;background-color:#fff;border-bottom: 1px dashed #e2e3e5;}
.integral p{display:inline-block;margin-top:40px;}
.integral-txt{margin:15px 0 30px 0;font-size: 12px;}
.integral-txt-img{display: inline-block;width:17px;height:17px;background:url("../../../images/integral.png") no-repeat -30px -3px;vertical-align: -3px;}
.yekc{font-size:18px;color:#ff6000;font-weight:bold;}
.sub-btn{margin-left: 90px;}

/*做单记录*/
#userorder,#userphone,#username{margin-right:40px;height:31px;}
.chazhao{margin-bottom: 40px;}
.chazhao div{display:inline-block;width:100%;}
.chazhao div label{margin-top: 3px;}
.text-c th{width:170px;height:37px;}
.text-c td{width:170px;height:50px;}

/*修改交易密码*/
.tab-box{width:420px;height:379px;margin-top:45px;}
.tab-box .list-box{height:31px;line-height:31px;margin-bottom: 36px;}
.tab-box .list-box label{display:inline-block;width: 185px;text-align: right;}
.tab-box .list-box div{display:inline-block;width: 230px;float: right;}
/*.tab-box .list-box .yzm{margin-left: 39px;}*/
.tab-box .list-box .qr{margin-left: 190px;}




/* 自适应屏幕大小*/
@media (max-width:320px){
    .container-box button {margin-top: -90px;}
    .order-box-list{height:130px;width:100%;float:left;margin:0 0 15px 0;}
    .record{margin-top:605px;height:130px;}
    .record div select{width: 30%;}
    .record div input{width:60%;}
    .record button{margin:7px 0 0 106px;float: inherit;}
    #curve{width:300px;}
    .recharge{width:0px !important;}
    .recharge-box{width:250px !important;}
    .recharge-box .hh{display:block;margin-top:5px;}
    .zw + tr {display: block;margin-top: 55px;}
    .zw {margin: 29px 0 0 0;}
    .chazhao label{display: inline-block;width: 30%;height: 22px;text-align: right;}
    #userorder,#userphone,#username{margin-right:0;margin-bottom:10px;width:70%;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:60%;}
    .chazhao-btn{margin-left:83px;}
    .text-c {text-align:justify;}
    .text-c th:nth-child(1){display:none;}
    .text-c th:nth-child(3){display:none;}
    .text-c th:nth-child(6){display:none;}
    .text-c th:nth-child(7){display:none;}
    .text-c td:nth-child(1){display:none;}
    .text-c td:nth-child(3){display:none;}
    .text-c td:nth-child(6){display:none;}
    .text-c td:nth-child(7){display:none;}
    .tab-box{margin-top: 0;}
    .tab-box{width:100%;}
    .tab-box .list-box label{display: block;text-align:inherit;}
    .tab-box .list-box div{width:100%;}
    .tab-box .list-box:last-child{padding-top: 10px;}
    .tab-box .list-box .qr{ margin: 0 auto;display:block;}
}
@media (min-width:320px) and (max-width:480px){
    .container-box button {margin-top: -90px;}
    .order-box-list{height:130px;width:100%;float:left;margin:0 0 15px 0;}
    .record{margin-top:605px;height:130px;}
    .record div select{width: 30%;}
    .record div input{width:60%;}
    .record button{margin:7px 0 0 106px;float: inherit;}
    #curve{width:300px;}
    .recharge{width:0px !important;}
    .recharge-box{width:250px !important;}
    .recharge-box .hh{display:block;margin-top:5px;}
    .zw + tr {display: block;margin-top: 55px;}
    .zw {margin: 29px 0 0 0;}
    #chazhao-time{margin-left: -18px;}
    .chazhao label{display: inline-block;width: 30%;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-right:0;margin-bottom:10px;width:70%;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:70%;}
    .text-c th:nth-child(1){display:none;}
    .text-c th:nth-child(3){display:none;}
    .text-c th:nth-child(6){display:none;}
    .text-c th:nth-child(7){display:none;}
    .text-c td:nth-child(1){display:none;}
    .text-c td:nth-child(3){display:none;}
    .text-c td:nth-child(6){display:none;}
    .text-c td:nth-child(7){display:none;}
    .tab-box{margin-top: 0;}
    .tab-box{width:100%;}
    .tab-box .list-box label{display: block;text-align:inherit;}
    .tab-box .list-box div{width:100%;}
    .tab-box .list-box:last-child{padding-top: 10px;}
    .tab-box .list-box .qr{ margin: 0 auto;display:block;}
}
@media (min-width:480px) and (max-width: 767px) {
    .order-box-list{height:130px;width:100%;float:left;margin:0 0 15px 0;}
    .record{margin-top:605px;height:130px;}
    .record div select{width: 20%;}
    .record div input{width:73%;}
    .record button{margin:7px 0 0 292px;float: inherit;}
    .recharge-box{width:250px !important;}
    .recharge-box .hh{display:block;margin-top:5px;}
    .zw + tr {display: block;margin-top: 55px;}
    .zw {margin: 29px 0 0 0;}
    .chazhao label{display: inline-block;width: 20%;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-right:0;margin-bottom:10px;width:75%;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:75%;}
    #chazhao-time{margin-right: 100px;}
    .text-c th:nth-child(1){display:none;}
    .text-c th:nth-child(3){display:none;}
    .text-c th:nth-child(6){display:none;}
    .text-c th:nth-child(7){display:none;}
    .text-c td:nth-child(1){display:none;}
    .text-c td:nth-child(3){display:none;}
    .text-c td:nth-child(6){display:none;}
    .text-c td:nth-child(7){display:none;}
}
@media ( min-width : 767px) and (max-width: 992px){
    .order-box-list{height:130px;width:48%;float:left;margin-left:0px;margin:0 0 15px 15px;}
    .order-box-list:nth-child(3){margin-left:0px;margin-left: 0;}
    .record{margin-top:315px;}
    .record div select{width: 15%;}
    .record div input{width:66%;}
    .chazhao div{width:234px;}
    .chazhao label{display: inline-block;width: 84px;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-right:0;margin-bottom:10px;width:150px;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:150px;}
    .chazhao div:nth-child(5) label{width:50px;}
}
@media (min-width: 992px) and ( max-width : 1200px) {
    .order-box-list{height:130px;width:24%;float:left;margin-left: 10px;}
    .record div input{width:75%;}
    .chazhao div{width:285px;}
    .chazhao label{display: inline-block;width: 84px;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-bottom:10px;width:150px;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:150px;}
    .chazhao div:nth-child(5) label{width:50px;}
}
@media (min-width: 1200px) and ( max-width : 1680px){
    .record div input{width:79%;}
    .chazhao div{width:350px;}
    .chazhao label{display: inline-block;width: 84px;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-bottom:10px;width:150px;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:150px;}
    .chazhao div:nth-child(5) label{width:50px;}
}
@media (min-width : 1680px){
    .chazhao div{width:285px;}
    .chazhao div label{display: inline-block;width: 84px;height: 22px;text-align: right;float: left;}
    #datemax,#datemin{margin-bottom: 10px;}
    #userorder,#userphone,#username{margin-bottom:10px;width:150px;}
    #datemax,#datemin{margin-right:0;margin-bottom:10px;width:150px;}
    .chazhao div #gd{width:50px;}
    .chazhao-btn{margin-top:-12px;}
}