.ui-header,body{
    background-color: #ffffff;
}
.ui-icon-return{
    color: #000000;
    font-size: 25px;
}
.back {
    vertical-align: 2px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.storage{
    position: absolute;
    right: 10px;
    top: 0;
}
.ui-list .user_cont{
    padding-top:20px;
}
.user_cont .user_photo{
    background: url("../../img/images/user_img.png") no-repeat;
    width: 100px;
    height:100px;
    background-size:auto 100%;
    margin: 0 auto;
    border-radius: 50%;

}
.zw{
    width: 100%;
    height: 10px;
    background-color: #ebeced;
}
.user_cont .camera{
    position:absolute;
    background: url("../../img/images/camera.png") no-repeat;
    width: 20px;
    height:20px;
    background-size:auto 100%;
    border-radius:50%;
    left:54%;
    bottom:92px;
}
.sex_box{
    width:197px;
    margin: 20px auto;
}
.nan,.nv{
    width: 90px;
    height:35px;
    line-height: 35px;
    border:1px solid #dddddd;
    border-radius:30px;
    font-size: 1.4rem;
    text-align: center;
    color:#777777;
}
.nv{
    float:right;
}
.nan{
    margin-right:5px;
}
.sex_box button i{
    width: 25px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: -4px;
    text-indent: -5px;
}
.nan_style{
    background-color:#6bbdff;
    border:1px solid #6bbdff;
}
.nv_style{
    background-color:#ff8787;
    border:1px solid #ff8787;
}
.i_style{
    color:#fff;
}
.demo-block > .ui-list{
    margin-bottom:0px;
}
.pj_content{
    margin: 0;
    padding-left:10px;
    padding-right:0px;
}
.content{
    height: 44px;
    line-height: 44px;
}
.ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio) {
    width: 20%;
}
.caozuo label{
    font-size:1.6rem;
}
.input_txt{
    text-align: right;
    font-size:1.4rem;
    color:#777777;
}
.input_new{
    text-align: center;
    font-size:1.6rem;
    color:#000;
}
.demo-item {
 margin-bottom:0px;
}
.ui-form-item {
    padding-right: 0px;
    padding-left: 0px;
}
.ui-list-pure > .content {
 padding-top: 0px;
 padding-bottom: 0px;
}
.ui-poptips{
    display: none;
}
.ui-poptips {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    margin:auto;

}
.ui-poptips-cnt{
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
